.title {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
}

.title li {
    width: 100%;
    display: flex;
    align-items: center;
}


.title li .titleText {
    margin-bottom: 0;
    /*text-indent: 0.5em;*/
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    line-height: 1em;
}
.button{
    right: 0;
    text-decoration: underline;
    cursor: pointer;
    position: absolute;
}

.backgroundStyle{
    transform-origin: 0% 100%;
}