.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: #fff;
    line-height: 1em;
}

.firstContent {
    display: flex;
    align-items: center;
    position: relative;
    height: 5.5em;
}

.imgBox {
    width: 5.5em;
    height: 5.5em;
    border-radius: 50%;
    overflow: hidden;
}

.photo {
    width: 100%;
    height: 100%;
}

.centerContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
    margin-left: 1.5em;
}

.carType {
    position: absolute;
    top: 0;
    right: 0;
    color: #00a8e7;
}

.secondContent {
    display: block;
    margin: 1em 0 1.5em;
}

.recordItem {
    display: flex;
    align-items: center;
    position: relative;
    height: 3em;
    border-radius: 10px;
    border: solid 1px #00ecff;
}

.recordIcon {
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.1em;
    margin-left: 0.7em;
}

.recordStatus {
    margin-left: 1em;
    font-weight: 600;
}

.recordTime {
    margin-left: 1.2em;
    font-size: 0.9em;
}

.recordPhoto {
    position: absolute;
    right: 0.7em;
    width: 3.5em;
    height: 1.5em;
}