.box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: #fff;
}
.itemBox{
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1em;
}
.itemBox:last-child{
    margin-bottom: 0;
}
.head{
    line-height: 2em;
    color: #ffce38;
    /*font-weight: bold;*/
    font-family: "SourceHanSansCN-Bold";
}
.table{
    position: relative;
    width: 100%;
    text-align: center;
}
.table td{
    border: 1px solid #baf0ff;
}
.part{
    margin-bottom: 0.5em;
}
.yellowFont{
    color: #ffce38;
}