.eventEightPartTwoStep .ant-steps-item-finish .ant-steps-item-icon,
.eventEightPartTwoStep .ant-steps-item-wait .ant-steps-item-icon{
    background: none;
}
.eventEightPartTwoStep .ant-steps-item-wait .ant-steps-item-icon{
    border-color: rgba(255,255,255,0.8);
}
.eventEightPartTwoStep .ant-steps-item-wait .ant-steps-item-icon > .ant-steps-icon{
    color: rgba(255,255,255,0.8);
}
.eventEightPartTwoStep .ant-steps-item-finish > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    color: white;
}
.eventEightPartTwoStep .ant-steps-item-process > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    color: white;
}
.eventEightPartTwoStep .ant-steps-item-wait > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title{
    color: rgba(288,288,288,0.8);
}