.box,.noData{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
}
.box{
    width: calc(100% + 1em);
}
.contentBox{
    position: relative;
    width: 100%;
    height: calc(100% - 3em);
    margin-bottom: 0.5em;
}
.noData{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}
.itemBox{
    position: relative;
    width: calc(100% - 1em);
    padding: 1.5em 1em 1em;
    background: linear-gradient(90deg,rgba(1,137,252,0.5) 0%, rgba(1,137,252,0.1) 100%);
    margin-top: 1.75em;
    margin-bottom: 2.75em;
    cursor: pointer;
}
.tagBox{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    left: 0;
    bottom: 100%;
    padding-left: 0.5em;
}
.status{
    position: absolute;
    width: 8em;
    height: 1.5em;
    /*font-family: "MFBanHeiRegular";*/
    font-size: 1.167em;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
    right: 0;
    top: 0;
}
.title{
    position: relative;
    font-size: 1.167em;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.content{
    margin: 1em 0;
    position: relative;
    color: #63b8ff;
}
.row{
    position: relative;
    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-style: italic;
}

.vDetails{
    position: absolute;
    font-size: 10px;
    letter-spacing: 1px;
    right: 0;
    top: 75%;
    color: #0189fc;
}
.line{
    position: absolute;
    width: 4em;
    height: 0.3em;
    right: 0;
    bottom: 0;
}
.line2{
    width: 3em;
    text-align: center;
    margin-left: 1em;
}