.box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
    padding: 0 1em;
}
.headBox{
    position: relative;
    width: 100%;
    height: 1.6em;
}
.levelBox{
    position: relative;
    font-size: 0.8em;
    height: 100%;
    width: 3.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    margin-right: 0.5em;
    float: left;
}
.redLevel{
    border: 1px solid rgb(251,84,71);
    background-color: rgba(251,84,71,0.5);
}
.orangeLevel{
    border: 1px solid rgb(227,127,21);
    background-color: rgba(227,127,21,0.5);
}
.yellowLevel{
    border: 1px solid rgb(255,204,0);
    background-color: rgba(255,204,0,0.5);
}
.head{
    position: relative;
    width: 85%;
    font-size: 1.125em;
    line-height: 1.5em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    color: #f7931e;
    margin-bottom: 0.5em;
}
.content{
    position: relative;
    width: 100%;
    height: 3em;
    overflow: hidden;
    color: rgb(0,217,250);
    word-break: break-all;
    font-size: 1em;
    line-height: 1.5em;
    margin: 0.5em 0;
}
.eventListBox{
    position: relative;
    width: 100%;
    height: calc(100% - 2.4em);
}
.blankBox{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.blankText{
    line-height: 2em;
}
.detailBox{
    position: relative;
    width: 100%;
    /*height: calc(100% - 5.6em);*/
    background-color: rgba(255,255,255,0.1);
    border-radius: 20px;
    padding: 0.8em 1em;
    margin-bottom: 1em;
}
.detailBox:last-child{
    margin-bottom: 0;
}
.headTwo{
    position: relative;
    width: 100%;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0.5em;
    color: #00eeff;
}
.line{
    position: relative;
    width: 5px;
    height: 100%;
    margin-right: 0.5em;
    background-color: rgba(255,255,255,0.6);
}
.detailContent{
    position: relative;
    width: 100%;
    /*height: calc(100% - 1.5em);*/
    font-size: 0.875em;
    opacity: 0.75;
}
.detailRow{
    position: relative;
    width: 100%;
    min-height: 1.5em;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    line-height: 1.5em;
}
.rowTitle{
    position: relative;
    width: 5.2em;
    height: 1.5em;
}
.rowContent{
    position: relative;
    width: calc(100% - 5.2em);
    min-height: 1.5em;
    color: rgb(44,228,252);
}
.redColor{
    color: rgb(235,75,77);
}
.reasonPart{
    cursor: pointer;
}
.themeTwo{
    padding: 0;
}
.themeTwo .line{
    display: none;
}
.themeTwo .headTwo{
    height: auto;
    line-height: 1.2em;
    color: #2ce4fc;
    margin-bottom: 0.25em;
}
.themeTwo .eventListBox{
    height: 100%;
}
.themeTwo .detailBox{
    cursor: pointer;
    background: rgba(25,69,102,0.4);
    margin-bottom: 0.6em;
    padding: 0.5em 0.8em;
    border-radius: 10px;
}
.themeTwo .detailContent{
    opacity: 1;
    font-size: 0.78em;
}
.themeTwo .rowContent{
    color: rgb(102,244,255);
}
