.container {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 1em;
    color: #fff;
    line-height: 1;
}

.svgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    cursor: pointer;
}
