.container {
    width: 100%;
    height: 100%;
    padding: 2em;
    border: 1px solid #215563;
    color: #fff;
    line-height: 1;
}

.innerBox {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: 100%;
    height: 100%;
}

.nameBox {
    display: flex;
    align-items: flex-start;
    position: absolute;
    left: 0;
    top: 0;
}

.name {
    width: 6.5em;
    height: 9.2em;
    border: 1px solid #1485a3;
    border-radius: 5px;
    font-size: 1em;
    text-align: center;
    line-height: 2.5em;
    background-color: rgba(68,198,248,0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.name img{
    width: 4em;
    height: 4em;
}
.lineBox{
    position: relative;
    height: 2em;
    width: 2.5em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.point{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: rgb(13,206,255);
}
.horizontalLine {
    width: 1.5em;
    height: 1px;
    background-color: rgb(13,206,255);
}

.relationBox {
    display: flex;
    width: calc(100% - 9em);
    height: auto;
}

.verticalLine {
    width: 1px;
    background-color: rgb(13,206,255);
}

.relationList {
    width: calc(100% - 3px);
}

.relationItem {
    display: flex;
    width: 100%;
}

.relationLeft {
    flex-shrink: 0;
    display: flex;
    width: calc(100% - 1px);
}

.connectingBox {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    height: 2em;
    width: 2.5em;
}

.connectingLine {
    width: 1.5em;
    height: 1px;
    background-color: rgb(13,206,255);
}

.relationContent {
    position: relative;
    height: 2em;
    line-height: 2em;
    padding: 0 0.5em;
    background: rgba(68,198,248,0.5);
    border-radius: 5px;
    min-width: 6em;
    float: left;
    text-align: center;
    margin-bottom: 1em;
}

.relationName {
    width: 5.8em;
    height: 2.9em;
    border: 2px solid #193a87;
    border-radius: 10px;
    font-size: 1.2em;
    text-align: center;
    line-height: 2.9em;
    background-color: #05236e;
}

.relationRight {
    flex-shrink: 0;
    width: calc(100% - 2.5em);
}

.itemNameBox{
    position: relative;
    width: 100%;
    margin: 0 0 1em 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 2.5em;
    font-weight: bold;
    background: rgba(68,198,248,0.2);
    cursor: pointer;
}
.nameLine{
    position: relative;
    width: 3px;
    height: 1em;
    background: #0dceff;
    margin-right: 1em;
    margin-left: calc(1em - 3px);
}
.itemNameBox img{
    position: absolute;
    width: 1.875em;
    height: 1.5em;
    right: 0.5em;
    top: 0.5em;
}

.listItem {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.itemGrid {
    margin: 0;
}

.title {
    flex-shrink: 0;
    width: 7em;
    text-align: right;
    line-height: 1.2;
    padding-right: 1em;
    color: #b7b7b7;
}

.content {
    flex-shrink: 0;
    width: calc(100% - 7em);
    padding-right: 0.5em;
    line-height: 1.2;
    word-break: break-all;
}

.noData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
}