.box,.content,.backgroundImg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.title{
    position: absolute;
    height: 1em;
    line-height: 1em;
    width: 80%;
    left: 14%;
    top: 1em;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    font-size: 1.8em;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.platform{
    position: absolute;
    width: 8em;
    height: 2em;
    background: url("../images/itemBg.png") no-repeat ;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255,232,101);
    transform: translate(-50%, -50%);
    cursor: pointer;
    font-weight: bold;
}
.content .platform:nth-child(3){
    left: 31%;
    top: 50%;
}
.content .platform:nth-child(4){
    left: 91.5%;
    top: 53.5%;
}
.content .platform:nth-child(5){
    left: 16%;
    top: 82.5%;
}
.content .platform:nth-child(6){
    left: 79.7%;
    top: 93%;
}
.content .platform:nth-child(7){
    background: none;
    left: 54%;
    top: 16%;
    flex-flow: column;
    height: 4em;
    color: #36acd3;
}
.eventHandle{
    position: absolute;
    width: 10em;
    height: 3em;
    left: 45%;
    top: 72%;
    cursor: pointer;
}
.eventHandleTwo{
    position: absolute;
    width: 10em;
    height: 3em;
    left: 45%;
    top: calc(72% + 4em);
    cursor: pointer;
}