.box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: white;
}
.title{
    position: absolute;
    width: 100%;
    font-size: 2em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}
.noData{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.listBox{
    position: absolute;
    width: 100%;
    height: calc(100% - 4em);
    left: 0;
    bottom: 0;
}
.itemBox{
    position: relative;
    width: 100%;
    height: 19em;
}
.tankImg{
    position: absolute;
    width: 100%;
    height: 85%;
    left: 0;
    top: 0;
}
.lineBox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineOne{
    height: 2em;
    font-size: 1em;
}
.point{
    position: relative;
    width: 0.8em;
    height: 0.8em;
    margin: 0 1em;
    border-radius: 50%;
}
.lineOne .point:last-child{
    margin-right: 0;
}
.lineTwo{
    width: 22em;
    height: 12em;
}
.lineTwo img{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.barBox{
    position: absolute;
    width: 1em;
    height: 6.05em;
    right: 46.55%;
    top: 9.1em;
    border-left: 2px solid #04ade6;
    overflow: hidden;
}
.bar{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.name{
    position: absolute;
    width: 11%;
    height: 6em;
    left: 42.5%;
    top: 48%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineThree{
    width: 22em;
    height: 3em;
}
.no{
    position: absolute;
    /*color: rgb(0,210,255);*/
    width: 11%;
    height: 2em;
    left: 42.5%;
    top: 82%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.per{
    position: absolute;
    height: 2em;
    right: 44%;
    width: 5em;
    top: 6.1em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lineFour{
    height: 4em;
}
.lineFour div:first-child{
    margin-right: 2em;
}
.status{
    position: absolute;
    width: 6.5em;
    height: 2em;
    border-radius: 0.5em;
    background-color: rgb(255,75,75);
    text-align: center;
    line-height: 2em;
    left: 59.6%;
    top: 7em;
}
.pCode{
    position: absolute;
    width: 6.5em;
    height: 2em;
    color: rgb(0,217,133);
    text-align: left;
    line-height: 2em;
    left: 70.6%;
    top: 5.1em;
}
.valveStatus{
    position: absolute;
    width: 2em;
    height: 2em;
    left: 17.8%;
    top: 2.1em;
    transform: translate(-50%, -50%);
}
.backNum{
    position: absolute;
    width: 6.5em;
    height: 1em;
    color: white;
    text-align: center;
    line-height: 1em;
    left: 62.6%;
    top: 0;
}