.listBox {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
}

.listBox .listItem {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.listBox .listItem .cover {
    position: absolute;
}

.listBox .listItem .header,.listBox .listItem .main {
    list-style: none;
    position: absolute;
    margin-bottom: 0;
    padding: 0;
    display: flex;
}

.listBox .listItem .header div,.listBox .listItem .main div {
    line-height: 100%;
}
