.box {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.head{
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
}
.more{
    position: absolute;
    color: rgb(142,142,142);
    transform: translate(-50%, 0) ;
    left: 50%;
    bottom: 0;
    font-size: 1.5em;
    cursor: pointer;
}

.polygon1 {
    opacity: 0.1;
    fill: #0058E9;
}

.polygon2 {
    fill: none;
    stroke: #55A6FF;
    stroke-miterlimit: 10;
}

.polygon3 {
    opacity: 0.1;
    fill: #0037E8;
}

.polygon4 {
    opacity: 0.2;
    fill: #79F7FF;
}

.polygon5 {
    fill: #79F7FF;
}

.polygon6 {
    fill: #39DAFF;
}

.linearGradient1Stop1 {
    stop-color: #0051BF;
    stop-opacity: 0;
}

.linearGradient1Stop2 {
    stop-color: #076ECA;
    stop-opacity: 8.689106e-002;
}

.linearGradient1Stop3 {
    stop-color: #139ADA;
    stop-opacity: 0.2385;
}

.linearGradient1Stop4 {
    stop-color: #1CBEE7;
    stop-opacity: 0.3918;
}

.linearGradient1Stop5 {
    stop-color: #24DBF2;
    stop-opacity: 0.5448;
}

.linearGradient1Stop6 {
    stop-color: #29EFF9;
    stop-opacity: 0.6973;
}

.linearGradient1Stop7 {
    stop-color: #2CFBFE;
    stop-opacity: 0.8492;
}

.linearGradient1Stop8 {
    stop-color: #2DFFFF;
}

.linearGradient1Stop9 {
    stop-color: #2CFCFE;
    stop-opacity: 0.8144;
}

.linearGradient1Stop10 {
    stop-color: #2AF2FA;
    stop-opacity: 0.6617;
}

.linearGradient1Stop11 {
    stop-color: #25E0F4;
    stop-opacity: 0.5207;
}

.linearGradient1Stop12 {
    stop-color: #1FC8EB;
    stop-opacity: 0.3867;
}

.linearGradient1Stop13 {
    stop-color: #17A9DF;
    stop-opacity: 0.2577;
}

.linearGradient1Stop14 {
    stop-color: #0D83D1;
    stop-opacity: 0.1324;
}

.linearGradient1Stop15 {
    stop-color: #0156C1;
    stop-opacity: 1.225221e-002;
}

.linearGradient1Stop16 {
    stop-color: #0051BF;
    stop-opacity: 0;
}