.antdCascaderThemeOne .ant-cascader-picker{
    background: none;
    color: white !important;
}
.antdCascaderThemeOne .ant-cascader-picker-arrow{
    color: rgba(255,255,255, 0.5);
    z-index: auto;
}
.antdCascaderThemeOne:hover .ant-cascader-picker-arrow{
    z-index: 1;
}
.antdCascaderThemeOne .ant-cascader-input.ant-input {
    width: 100%;
    height: 100%;
    border: none;
    color: white !important;
    font-size: 1em;
}
.antdCascaderThemeOne .ant-cascader-picker-clear{
    background: none;
}
.antdCascaderThemeOne .ant-cascader-picker-clear{
    color: white !important;
    z-index: auto;
}
.antdCascaderThemeOne:hover .ant-cascader-picker-clear{
    z-index: 2;
}

.antdCascaderDropThemeOne {
    border: 1px solid #006BB1;
    border-radius: 0;
    background: #00173D;
    color: white;
}
.antdCascaderDropThemeOne .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
.antdCascaderDropThemeOne .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover{
    background: #167ac9;
}
.antdCascaderDropThemeOne .ant-cascader-menu{
    border-radius: 0;
    border-right: 1px solid #006BB1;
}
.antdCascaderDropThemeOne .ant-cascader-menu-item:hover{
    background: #167ac9;
}
.antdCascaderDropThemeOne .ant-cascader-menu-item-expand .ant-cascader-menu-item-expand-icon,
.antdCascaderDropThemeOne .ant-cascader-menu-item-loading-icon{
    color: white;
}
.antdCascaderDropThemeOne .ant-cascader-menu-item-disabled{
    color: white;
}