.detailBox {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    display: flex;
    flex-flow: column;
    /*z-index: 1;*/
}

.alignLeft {
    text-align: left !important;
}
.breakAll{
    word-break: break-all;
}

.closeBtn {
    position: absolute;
    cursor: pointer;
}

.headBox {
    position: relative;
    width: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.headBox .head {
    position: relative;
    width: calc(100% - 2em);
    line-height: 1.2em;
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    /*white-space: nowrap;*/
}
.headGap{
    position: absolute;
    width: 100%;
    height: 1em;
    top: 100%;
    left: 0;
    /*z-index: 1;*/
}

.itemBox {
    position: relative;
    width: 100%;
}

.itemHead {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 3em;
    cursor: pointer;
}

.itemHeadIcon {
    position: relative;
    width: 1em;
    height: 1em;
}
.itemHeadIconShow{
    transform:rotate(90deg);
}

.itemTitle {
    position: relative;
    font-size: 1.2em;
    color: #232349;
}

.itemContent {
    position: relative;
    width: 100%;
    color: #232349;
    border: 1px solid #999999;
    line-height: 1.4em;
    word-break: break-word;
}

.itemContent td {
    border: 1px solid #999999;
    border-right: 0;
    border-bottom: 0;
    padding: 0.5em;
    position: relative;
}

.childTable {
    position: relative;
    width: 100%;
    border: 1px solid #999999;
}

.tdTitle {
    width: 20%;
    font-size: 0.8em;
    text-align: center;
    color: #232349;
    height: 3em;
    background-color: rgba(35, 35, 73, 0.1);
}

.tdContent {
    width: 30%;
    font-size: 1em;
}
.alignCenter{
    text-align: center;
}

.detailImg{
    max-height: 12em;
    max-width: 100%;
}

.fileName {
    position: relative;
    color: #0099ff;
    margin-right: 1em;
    line-height: 1.5em;
    cursor: pointer;
    text-decoration: underline;
}

.imageBox{
    position: relative;
    float: left;
    width: 8em;
    height: 4.5em;
    margin-right: 0.5em;
}

.imageBox img{
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tabBox {
    position: relative;
    width: 100%;
    height: 2em;
    line-height: 2em;
}

.tabItem {
    position: relative;
    float: left;
    border-radius: 0.25em;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: #bbb;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.selectedTab {
    cursor: default;
    border: 1px solid rgb(8, 139, 212);
    color: white;
}

.tabName {
    padding: 0 1em;
    background-color: rgba(255, 255, 255, 0.1);
    height: 2em;
    border-top-left-radius: initial;
    border-bottom-left-radius: initial;
}
.borderRightRadius{
    border-radius: initial;
}

.selectedTab .tabName {
    background-color: rgb(8, 139, 212);
}

.tabClose {
    width: 2em;
    height: 2em;
    border-top-right-radius: initial;
    border-bottom-right-radius: initial;
    cursor: pointer;
    transition: transform 233ms ease-in;
}
.tabClose:hover{
    transform: rotateZ(180deg);
}
.bottomBox {
    position: relative;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.progressContent {
    list-style: none;
    line-height: 2.8vh;
    padding: 0;
    margin: 0;
}
.progressContent .progressItem{
    position: relative;
}
.progressContent .progressItem .stepsItemTail{
    display: block;
    position: absolute;
    top: 0;
    left: 0.4em;
    width: 1px;
    height: 100%;
    background-color: rgb(211,211,211);
}
.progressContent .progressItem .stepsItemIcon{
    float: left;
    margin-right: 1vh;
    width: 0.8em;
    height: 0.8em;
    background-color: rgb(153,153,153);
    border-radius: 50%;
    position: relative;
}
.progressContent .progressItem .stepsItemContent{
    display: block;
    overflow: hidden;
    vertical-align: top;
}
.progressContent .progressItem .stepsItemContent .itemTitle{
    /*line-height: initial;*/
    /*transform: translateY(-15%);*/
    font-size: 0.8em;
    line-height: 100%;
    float: left;
    margin-right: 1vh;
    color: rgb(153,153,153);
}
.progressContent .progressItem .stepsItemContent .itemTitleName{
    font-size: 0.8em;
    color: rgb(0,98,255);
    line-height: 100%;
}
.progressContent .progressItem .stepsItemContent .itemContent{
    position: relative;
    margin-bottom: 1vh;
    padding: 1vh;
    color: #fff;
    background-color: rgba(238, 238, 238, 0.1);
    border: none;
    line-height: 1.8em;
}
.progressContent .progressItem .stepsItemContent .itemRemark{
    float: left;
    color: rgb(0,98,255);
}
.progressContent .progressItem .stepsItemContent .itemContent p{
    position: absolute;
    bottom: 0;
    color: #999;
    margin-bottom: 0;
}

.emergencyEventContent {
    list-style: none;
    line-height: 2.8vh;
    padding: 0;
}
.emergencyEventContent .emergencyEventItem {
}
.emergencyEventContent .emergencyEventItem .emergencyTitle{
    margin-bottom: 1em;
    line-height: 2em;
    font-size: 1em;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent{
    list-style: none;
    padding: 0;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent .progressItem{
    position: relative;
    min-height: 1.5em;
    margin-bottom: 0.6em;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent .progressItem .stepsItemTail{
    z-index: -1;
    display: block;
    position: absolute;
    top: 0;
    left: 0.9vh;
    width: 1px;
    height: 100%;
    background: #fff;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent .progressItem .stepsItemIcon{
    float: left;
    margin-right: 1vh;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: rgb(153,153,153);
    border-radius: 50%;
    color: #fff;
    text-align: center;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent .progressItem .stepsItemContent{
    display: block;
    overflow: hidden;
    vertical-align: top;
    line-height: 1.5em;
}
.emergencyEventContent .emergencyEventItem .emergencyProgressContent .progressItem .stepsItemContent p{
    display: inline-block;
    color: #fff;
    margin: 0;
}
.timeline{
    padding: 6px 4px 0;
}
.timelineHead{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.timelineHead span{
    margin-right: 1em;
}

.themeOne .itemTitle{
    color: #fff;
}
.themeOne .itemContent{
    color: #fff;
}
.themeOne .tdTitle{
    color: #bbbbbb;
    background-color: rgba(238, 238, 238, 0.1);
}
.themeOne .fontColor{
    color: #fff;
}