.box{
    position: relative;
    width: 22em;
    font-size: 2vh;
    padding: 0.5em;
    color: #000;
}
.boxBg{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.headOneBox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 2em;
}
.headOneBox .headName{
    position: relative;
    width: 100%;
    color: rgb(58,251,237);
    font-size: 1em;
    text-align: left;
}
.headOneBox .No{
    position: relative;
    width: 35%;
    color: rgba(255,255,255,0.8);
    font-size: 0.7em;
    text-align: left;
}
.imgStyle{
    width: 30%;
    height: 100%;
    position: relative;
}
.itemContent {
    position: relative;
    width: 100%;
    border: none;
    line-height: 1.4em;
    /*word-break: break-all;*/
}
.table{
    position: relative;
    width: 70%;
    height: 100%;
}
.itemContent td {
    border: none;
    padding: 0.2em;
    position: relative;
}
.itemBox .title{
    color: #fff;
}