.box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.datePicker{
    position: relative;
    width: calc(50% - 1em);
    height: 100%;
    display: flex;
    align-items: center;
}