.box{
    position: absolute;
    width: 100%;
    height: 100%;
}
.content{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
}
.itemBox{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
}
.title{
    position: relative;
    height: 100%;
    width: calc(100% - 1em);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.img{
    position: relative;
    width: 1em;
    height: 1em;
    cursor: pointer;
}
.pageBox{
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.none{
    opacity: 0.5;
    margin-left: 1em;
    cursor: default;
}
.has{
    margin-left: 1em;
    cursor: pointer;
}
.itemBox:hover{
    background-color: rgb(78,88,111)
}