.Box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
}
.whiteBox{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.blackBox{
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
}