.box{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.fontBox{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}