.arc-gis-map-box .esriPopup .pointer.bottom{
    border-color: transparent rgba(0,0,0,0.6) rgba(0,0,0,0.6) transparent;
}
.arc-gis-map-box .esriPopup .contentPane{
    padding: 0;
    background: none;
}
.arc-gis-map-box .esriPopup .titlePane{
    display: none;
}