.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.allBox{
    position: absolute;
    width: 100%;
    height: calc(100% - 2em);
    bottom: 0;
}
.box{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-around;
}
.contentItem{
    position: absolute;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    align-content: space-between;
}
.item{
    position: relative;
    justify-content: center;
}
.icon{
    position: relative;
}
.index{
    justify-content: center;
}
.button{
    position: absolute;
    padding: 0.5em;
    cursor: pointer;
    line-height: 1em;
    font-size: 1em;
}
.numImg{
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
.numBox{
    position: relative;
}