.iframeContent{
    position: absolute;
    /*width: 100%;*/
    /*height: 100%;*/
    /*left: 0;*/
    /*top: 0;*/
    border: 1px solid #0ff;
    padding: 0;
    margin: 0;
    pointer-events: auto;
    top: 26.3%;
    left: 28.4%;
    width: 43.4%;
    height: 71.76%;
    background: #021624;
}
.iframeContent iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border: none;
    margin: 0;
    padding: 0;
}

.selectBoxTwo{
    position: absolute;
    height: auto !important;
    padding: 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    border: 1px solid #0ff;
    width: 15em;
    background: rgba(24, 38, 73,0.8);
}
.selectBoxTwo .headBox{
    position: relative;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255,255,255,0.7);
}
.selectBoxTwo .head{
    font-size: 1.2em;
    color: white;
}
.selectBoxTwo .changeShow{
    color: #0ff;
    cursor: pointer;
}
.selectBoxTwo .contentBox{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.selectBoxTwo .checkContentBox{
    position: relative;
    width: 11em;
    height: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.selectBoxTwo .checkBoxThemeTwo{
    position: relative;
    width: 100%;
    display: flex;
    margin: 1em 0;
}
.selectBoxTwo .point{
    position: relative;
    width: 1em;
    height: 1em;
    border-radius: 50%;
}
.selectBoxTwo .contentBox .checkBoxThemeTwo:nth-child(1) .point{
    background-color: rgb(238,99,99);
}
.selectBoxTwo .contentBox .checkBoxThemeTwo:nth-child(2) .point{
    background-color: rgb(95,156,248);
}
.selectBoxTwo .contentBox .checkBoxThemeTwo:nth-child(3) .point{
    background-color: #BD10E0;
}
.selectBoxTwo .contentBox .checkBoxThemeTwo:nth-child(4) .point{
    background-color: rgb(93,198,135);
}