.imgBox,.img,.clickDiv{
    position: absolute;
    width: 100%;
    height: 100%;
}
.imgBox{
    overflow: hidden;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgTwo{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.clickDiv{
    cursor: pointer;
}