.content{
    display: flex;
    position: relative;
}
.box{
    min-width: 6em;
    font-size: 1.5vh;
    float: left;
    line-height: 1.5em;
    margin-right: 0.25em;
}
.title{
    font-size: 1.2vh;
    padding: 1em 0;
    color: rgba(255,255,255,0.8);
}
.blue{
    color: #00A4FF;
    margin-bottom: 0.2em;
}
.yellow{
    color: #EAB021;
    margin-bottom: 0.4em;
}